#img{
    float: left;
    padding-right: 10px;
  }
  #img:hover{
      height: 250px;
      width: 250px;
  }
  #para{
      color: yellow;
      font-size: 25px;
  }
  #chat{
      color: white;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: roboto;
      font-size: 35px;
  }
  #para2{
      color: yellow;
      font-size: 25px;
  }
  #devin{
      color: white;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: roboto;
      font-size: 35px;
  
  }
  #img2{
      float: left;
      padding-right: 10px;
    }
    #header{
      color: white;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: roboto;
      font-size: 50px;
     
    }
    header:hover{
        color: blue;
    }
    body{
        margin: 0px;
        background-color: #4c00ff;
    }
    #webname{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: Roboto;
        color: yellow;
        font-size: 40px;
    }
